:root{
    --primary: #E0E1DD;
    --secondary: #0D1B2A ;
    --dark: #1B263B;
    --light: #5d738f;
    --mid: #1B263B;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

section{
  background-color: var(--primary);
  height: 100vh;
  background-image: url("../../images/639f4c15ad4f90afa630803e745a543e213f21ff.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  background-color: transparent !important ;
  background: rgba(255, 255, 255, 0.1) !important; 
  box-shadow: 0 3px 8px 0 var(--light);
  backdrop-filter: blur(15px) !important; 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.18) !important;

}

.navbar-brand{
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  width: 65px !important;
  height: auto;
}

.navbar-brand p{
  color: var(--secondary) !important;
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 8px;
}

.btn {
  font-size: 1.2rem !important;
  padding: 0.5rem 1rem;
}

.urgent{
    color: var(--primary)!important;
    background-color: var(--dark)!important;
    padding: 5px 20px !important;
    margin-right: 10px;
}

.urgent:hover{
  background-color: var(--light) !important;
}

.urgent_div{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
}

.urgent_div p {
  color: var(--secondary);
  font-size: 1.3rem !important;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
}

main{
  display: flex;
  
}


.colored{
  color: var(--light);
}


.details{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  width: 500px;
}

.form_cont p{
  color: var(--light);
  font-size: 1.2rem;
}

.form_cont h6{
  color: var(--light);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.form_cont h1{
  color: var(--secondary);
  font-size: 2.5rem;
}

.form_cont a{
  text-decoration: none;
  color: var(--mid);
}

.form{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_cont{
  width: 700px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: start;


  background: rgba(255, 255, 255, 0.1) !important; 
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 5px 22px 0 var(--light);
  backdrop-filter: blur(15px) !important; 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

form{
  max-width: 100%;
}

.form-control{
  background-color: transparent;
  color: var(--secondary) !important;
  border: solid 2px var(--light);
  height: 45px !important;
  width: 100%;
  font-size: 1.4rem;
}

label{
  font-size: 1.4rem;
  color: var(--secondary) !important;
}

.submit{
  background-color: var(--dark);
  color: var(--primary);
  border: none;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.submit:hover{
  background-color: var(--secondary);
}


.form-control:focus {
  border-color: var(--secondary) !important; 
  box-shadow: none !important;         
  outline: none !important;           
  background-color: transparent !important; 
  color: var(--secondary) !important;       
}



#typedText {
  color: var(--mid);
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--mid);
  animation: blink-caret 0.75s step-end infinite;
  margin: 0 auto;
}



.hero-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  text-align: center;
} 





@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--mid);
  }
}



@media screen and (max-width: 765px) {

  .urgent_div p {
    display: none;
  }

  #typedText {
    font-size: 1.2rem;
  }

}


@media screen and (max-width: 575px) {
  .navbar-brand p{
    display: none;
  }

  .form_cont{
    width: 100vw;
  }

  .form-control{
    width: 100%;
  }

  .submit{
    width: 100%;
  }

  .form_cont p{
    color: var(--light);
    font-size: 1.2rem;
  }

  .form_cont h6{
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .form_cont h1{
    color: var(--secondary);
    font-size: 1.8rem;
  }
}

.email_div{
  position: relative;
}

.password_div{
  position: relative;
}


.eye-icon {
    position: absolute;
    right: 10px;
    top: 55%;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    transition: color 0.3s;
}

.eye-icon:hover {
    color: #000;
}


.mail_icon{
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  transition: color 0.3s;
}





