
:root{
    --primary: #E0E1DD;
    --secondary: #0D1B2A ;
    --dark: #1B263B;
    --light: #5d738f;
    --mid: #1B263B;
    --green: rgb(22, 147, 68);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Comfortaa", sans-serif;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}


@keyframes expandWave {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}


.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  background-color: white !important ;
  background: white !important; 
  box-shadow: 0 3px 8px 0 var(--light);
  border: none;
  animation: IntFromTop 1s ease-out forwards;
  animation-delay: 0.3s;
}


.navbar-brand{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 5px;
}

.navbar-brand img {
  width: 30px !important;
  height: auto;
}

.navbar-brand p{
  font-family: "Comfortaa", sans-serif;
  color: black !important;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 12px;
  margin-left: 10px;
}



.logout{
  border: solid 2px rgb(194, 26, 107);
  font-size: 1rem !important;
  padding: 0.2rem 1rem;
  transition: all 300ms ease-in-out !important;
}


.logout:hover{
  background: linear-gradient(180deg,rgb(203, 60, 131) 0%, rgb(194, 26, 107) 100%);
  color: white;
  padding: 0.2rem 2rem;
}



.header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 800;
}
         
.header span{
  color: rgb(218, 51, 131); 
}


.home{
  padding-bottom: 30px;
  background-image: url(../images/cloud.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.submit_btn {background-image: linear-gradient(to right, rgb(218, 51, 131) 0%, #f09ad4  51%, rgb(218, 51, 131)  100%)}
.submit_btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: none;
  font-size: 1.3rem !important;
  color: white !important;
  padding: 10px 10px !important;
  border-radius: 25px !important;
  transition: all 300ms ease-in-out !important;
  gap: 10px;
  background-size: 200% auto !important;          
}

.submit_btn:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.submit_btn span{
  transition: all 300ms ease-in-out !important;
}

.submit_btn:hover span{
  transform: rotate(90deg);
}

input:focus,
textarea:focus,
select:focus {
  border-color: rgb(218, 51, 131) !important;
  box-shadow: 0 0 0 0.2rem rgba(218, 51, 131, 0.25) !important;
  outline: none;
}



footer{
  background-color: #262626 !important;
  text-align: center !important;
  color: #a3a3a3 !important;
}

footer img{
  height: 40px;
  width: auto;
}

footer .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

footer .logo-cont{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 8px;
}

footer .logo-cont h4{
  color: white;
  font-weight: 900;
  padding-bottom: 8px;
}

footer .service h5{
  color: var(--blue);
  font-weight: 900;
  padding-bottom: 8px;
}

footer .support h5{
  color: #86efac;
  font-weight: 900;
  padding-bottom: 8px;
}

footer .contact h5{
  color: #dba5e0;
  font-weight: 900;
  padding-bottom: 10px;
}

footer li{
  padding-bottom: 7px;
}





